# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/
out-tsc
npm_logs/
.sass-cache/
target/

# dependencies
node_modules/
.mvn/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# IDE - VSCode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MS Visual Studio
.vs/
nupkg/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
.DS_Store/
*.swp
*.*~
*.suo
*.user
msbuild.log
msbuild.err
msbuild.wrn

# EntityframeworkCore
Migrations/

# misc
connect.lock/
coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
